body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  width: 4px;
  border-radius: 60px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 60px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(19, 0, 129);
  outline: 1px solid rgb(19, 0, 129);
  border-radius: 60px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}
